@font-face {
    font-family: 'genesis-head-light';
    src: url('../../fonts/GenesisSansHeadKRLight.eot');
    src: url('../../fonts/GenesisSansHeadKRLight.eot#iefix') format('embededopentype');
    src: url('../../fonts/GenesisSansHeadKRLight.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: 'genesis-head';
    src: url('../../fonts/GenesisSansHeadKRRegular.eot') format('embededopentype');
    src: url('../../fonts/GenesisSansHeadKRRegular.eot#iefix') format('embededopentype');
    src: url('../../fonts/GenesisSansHeadKRRegular.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: 'genesis-text';
    src: url('../../fonts/GenesisSansTextKRRegular.eot') format('embededopentype');
    src: url('../../fonts/GenesisSansTextKRRegular.eot#iefix') format('embededopentype');
    src: url('../../fonts/GenesisSansTextKRRegular.woff2' ) format('woff2');
    font-style: normal;
    font-weight: 300;
 }