@mixin ellipse($lineHeight : 10px , $line : 1){
    overflow:hidden;
    text-overflow: ellipsis;
    @if($line > 1){
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
        line-height:  $lineHeight;
        max-height: $lineHeight * $line;
    }@else{
        white-space: nowrap;
    }
}

@mixin linkBtn($color){
    color: $color;
    font-size: 16px;
    display: flex;
    gap: 6px;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0px;
    &:after{
        content: "";
        width: 7px;
        height: 12px;
        display: block;
        background: url(../../images/ico-arrow-white.png) no-repeat center center /7px;
        transform: rotate(180deg);
    }
    span{
        display: block;
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;

        &:after{
            content: "";
            width: 0%;
            height: 1px;
            background: $color;
            display: block;
            position: absolute;
            left: 0px;
            bottom: -6px;
            transition: 500ms;
        }
        &:hover{
            &:after{
                transition: 500ms;
                width: 100%;
            }
        }
    }
}
$laptop : 1600px;
$laptop02 : 1360px;
$tablet : 1024px;
$mobile : 768px;
//@content : 선언된 mixin안에 새로운 스타일을 적용할 떄 사용하는 기법
//기존 mixin이 가지고 있는 스타일 외에 선택자나 속성 등을 새로 추가할 때
@mixin laptop{
    @media screen and (max-width : $laptop) {
        @content;
        
    }
}
@mixin laptop02{
    @media screen and (max-width : $laptop02) {
        @content;
        
    }
}
@mixin tablet{
    @media screen and (max-width : $tablet) {
        @content;
        
    }
}
@mixin mobile{
    @media screen and (max-width : $mobile) {
        @content;
        
    }
}
